#app{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10rem;
}

.red-light{
    background: red;
    width: 100px;
    height: 100px;
    border-style: solid;

}

.yellow-light{
    background: yellow;
    width: 100px;
    height: 100px;
    border-style: solid;
}

.green-light{
    background: green;
    width: 100px;
    height: 100px;
    border-style: solid;
}

.red-light-active{
 box-shadow: 45px 45px 45px 25px rgb(231, 46, 46)
}

.yellow-light-active{
    box-shadow: 45px 45px 45px 25px rgb(245, 245, 21)
   }

.green-light-active{
    box-shadow: 45px 45px 45px 25px rgb(23, 206, 32)
   }
